@charset "utf-8";

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  code {
    font-size: 0.875em;
  }
}

a {
  code {
    color: inherit;
  }
}

.top-bar-wrapper {
  background-color: #333333;
}

.top-bar, .top-bar ul {
  background-color: #333333;
  .menu .button, .menu a {
    color: #eee;
  }
}

div.highlighter-rouge {
  margin: 0;
  pre.highlight {
    margin-bottom: 1rem;
    padding: 0.375rem 0.625rem;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;

    code {
      display: block;
      border: none;
      padding: 0;
    }
  }
}

.copyright {
  color: #777;
  p, ul {
    font-size: 0.875rem;
  }
}

article {
  .information {
    color: #888;
    .post-author {
      height: 24px;
      display: inline-block;
    }
  }
}

h2 > a, h3 > a {
  color: #888;
}

.highlighted {
  font-weight: bold;
  color: #e6e6e6;
  background-color: #272727;
}

.menu.supported-frameworks {
  margin-bottom: 1rem;
}

#announcement {
  & > p {
    visibility: hidden;
  }
}
