@charset "utf-8";

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875rem;
}

a {
  code {
    color: inherit;
  }
}

div.highlighter-rouge {
  margin: 0;
  pre.highlight {
    margin-bottom: 1rem;
    padding: 0.375rem 0.625rem;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;

    code {
      display: block;
      border: none;
      padding: 0;
    }
  }
}

h2 > a, h3 > a {
  color: #888;
}

.highlighted {
  font-weight: bold;
  color: #e6e6e6;
  background-color: #272727;
}

#announcement {
  & > p {
    visibility: hidden;
  }
}

code {
  word-break: break-all;
}

em {
  // TODO use box-shadow
  text-decoration: underline;
}

dd {
  margin-bottom: 1rem;
}

#example-tabs {
  border: none;
  & + .tabs-content {
    border: none;
    & > div {
      padding: 1rem 0 0 0;
    }
  }
}

section {
  // TODO support responsive design
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #dedede;

  .menu {
    margin-bottom: 1rem;
  }


  &:first-of-type {
    padding-top: 6rem;
    padding-bottom: 6rem;
    // text-align: center;
    // .supported-frameworks {
    //   justify-content: center;
    // }
  }
}
