<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ site.author.name }}" />
{% seo %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/foundation-sites@6.4.3/dist/css/foundation.min.css,npm/pygments-css@1.0.0/github.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic">
<style type="text/css">
{% capture styles %}
  {% include app.scss %}
{% endcapture %}
{{ styles | scssify }}
</style>

