<div class="top-bar-wrapper">
    <div class="row">
        <div class="large-12 columns">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/">Asity</a></li>
                        <li>
                            <a href="#">1.0.0-Beta1</a>
                            {% include dropdown.html %}
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="/1.0.0-Beta1/reference">Reference</a></li>
                        <li><a href="/1.0.0-Beta1/apidocs">API</a></li>
                        <li><a href="https://github.com/cettia/asity/tree/1.0.0-Beta1">Source</a></li>
                        <li>
                            <form action="http://www.google.com/search">
                                <input type="hidden" name="sitesearch" value="{{ site.url }}" />
                                <input type="search" name="q" placeholder="Search" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
