<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Asity</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="has-dropdown version-dropdown">
                    <a href="/1.0.0-Beta1"><code>1.0.0-Beta1</code> <span class="label alert">snapshot</span></a>
                    {% include dropdown.html %}
                </li>
            </ul>
            <ul class="right">
                <li><a href="/1.0.0-Beta1/reference">Reference</a></li>
                <li><a href="/1.0.0-Beta1/apidocs">API</a></li>
                <li><a href="https://github.com/cettia/asity/tree/1.0.0-Beta1">Source</a></li>
                <li class="has-form">
                    <form action="http://www.google.com/search">
                        <input type="hidden" name="sitesearch" value="{{ site.url }}" />
                        <input type="search" name="q" placeholder="Search" />
                    </form>
                </li>
            </ul>
        </section>
    </nav>
</div>